@media screen and (max-width: 500px) {
  /* general settings starts */

  /* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

  /* variables start*/
  :root {
    /* fonts */
    /* --primary-font: "Playfair Display", serif;
          --secondary-font: "Red Hat Display", sans-serif;
          --logo-font: "Rambla", sans-serif; */

    /* color */
    /* --primary-color: #333;
          --secondary-color: #fff;
          --main-color: #3c0466;
          --bg-color: linear-gradient(
            93.73deg,
            rgba(60, 4, 102, 0.9) 43.85%,
            rgba(73, 13, 201, 0.756) 123.12%,
            rgba(12, 186, 186, 0.218186) 156.19%,
            rgba(221, 79, 183, 0) 156.2%
          ); */
  }

  /* default font */
  /* body {
          font-size: 16px;
        } */

  /* variables stop */

  /* *,
        *::before,
        *::after {
          padding: 0px;
          margin: 0px;
          box-sizing: border-box;
        } */

  .wrap {
    width: 90%;
    /* margin: 0 auto; */
  }

  ul {
    /* list-style: none; */
  }

  a {
    /* text-decoration: none; */
  }

  button {
    /* border: none;
          outline: none; */
  }

  .btn-outline {
    /* background-color: transparent; */
    /* color: var(--secondary-color); */
    /* font-family: var(--secondary-font); */
    font-size: 1.125rem;
    /* border: 1px solid var(--secondary-color); */
    /* border-radius: 3em; */
    /* padding: 1em; */
  }

  /* general settings ends */

  /* navigation section starts */

  /* .nav-section {
          background-color: transparent;
          width: 100%;
          position: fixed;
          inset: 0;
        }
      
        .nav-wrap {
          display: flex;
          justify-content: space-between;
          height: 4em;
          align-items: flex-end;
        }
      
        .nav-logo {
          font-size: 1.875rem;
          font-family: var(--logo-font);
          color: var(--secondary-color);
        }
      
        .nav-hr {
          background-color: transparent;
          border-bottom: 1px solid var(--secondary-color);
          display: inline;
          width: 70%;
          height: 100%;
          opacity: 0.8;
        }
      
        .nav-ul {
          display: flex;
        }
      
        .nav-li {
          margin-left: 2.5em;
        }
      
        .nav-a {
          font-family: var(--secondary-font);
          color: var(--secondary-color);
          font-weight: 200;
        } */

  /* navigation section ends */

  /* hero section starts */

  .hero-section {
    height: 65vh;
    /* background: var(--bg-color); */
  }

  .hero-wrap {
    /* height: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 4em;
    /* text-align: center; */
    /* position: relative; */
  }

  .hero-title {
    /* color: var(--secondary-color); */
    /* font-family: var(--secondary-font); */
    /* font-weight: 200; */
    /* font-size: 0.75rem; */
    /* letter-spacing: 0.25rem; */
    margin-bottom: 1.2em;
  }

  .hero-heading {
    /* color: var(--secondary-color); */
    /* font-family: var(--primary-font); */
    /* font-weight: 100; */
    font-size: 1.875rem;
    line-height: 2.5rem;
    margin-bottom: 2em;
  }

  .hero-scroll {
    display: none;
    /* transform: rotate(90deg) translateX(-50%);
          position: absolute;
          bottom: 0;
          right: 0;
          border: 1px solid red; */
  }

  .hero-scroll-p {
    /* color: var(--secondary-color);
          font-family: var(--secondary-font);
          font-size: 1rem; */
  }

  /* hero section ends */

  /* process section starts */

  .process-section {
    /* padding: 3em 0; */
  }

  .process-head-container {
    /* display: grid; */
    grid-template-columns: 1fr;
    margin-bottom: 5em;
    /* border: 1px solid red; */
  }

  .process-heading {
    /* font-family: var(--primary-font); */
    /* color: var(--primary-color); */
    font-size: 1.25rem;
    /* font-weight: 100; */
    line-height: 2.813rem;
    /* text-transform: capitalize; */
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1em;
  }

  .process-subheading {
    /* font-family: var(--secondary-font); */
    /* color: var(--primary-color); */
    font-size: 0.938rem;
    /* font-weight: 400; */
    line-height: 2.188rem;
    /* border: 1px solid red; */
    text-align: center;
    margin: 0 auto;
  }

  .process-section-container {
    /* display: grid; */
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 2.5em;

  }

  .process-sec {
    /* display: flex; */
    /* flex-direction: column; */
    /* border: 1px solid var(--main-color); */
    /* border-radius: 20px; */
    padding: 3em 1em;
    width: 13em;
    margin: 0 auto;
  }

  .process-icon-section {
    width: 3em;
    height: 3em;
    /* background-color: var(--main-color); */
    /* border-radius: 50%; */
    /* position: relative; */
    margin-bottom: 1em;
  }

  .process-icon-section img {
    /* position: absolute; */
    width: 1.5em;
    /* height: auto; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
  }

  .process-sec-heading {
    /* font-family: var(--secondary-font); */
    /* color: var(--main-color); */
    font-size: 1rem;
    margin-bottom: 1em;
  }

  .process-sec-p {
    /* font-family: var(--secondary-font); */
    /* color: var(--main-color); */
    font-size: 0.75rem;
    /* font-weight: 400; */
    line-height: 1.45rem;
    /* letter-spacing: 0.04rem; */
  }

  /* process section ends */

    /* try section starts */

.try-section{
  /* background-image: url('./Images/Try-bg-Img.png'); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* position: relative; */
  /* padding: 5em 0; */
  /* z-index: -1; */
}

.try-section::before{
  /* position: absolute; */
  /* content: ''; */
  /* width: 100%; */
  /* height: 100%; */
  /* top: 0; */
  /* left: 0; */
  /* background: var(--bg-color); */
  /* opacity: 0.9; */
  /* z-index: -1; */
}

.try-wrap{
  /* text-align: center; */
  /* color: var(--secondary-color); */
}

.try-heading{
  /* font-family: var(--primary-font); */
  /* color: var(--secondary-color); */
  font-size: 1.25rem;
  /* font-weight: 100; */
  line-height: 2.813rem;
  /* text-transform: capitalize; */
  /* margin-bottom: 0.4em; */
}

.try-subheading{
  width: 100%;
  /* margin: 0 auto; */
  /* font-family: var(--secondary-font); */
  /* color: var(--secondary-color); */
  /* font-size: 1.563rem; */
  /* font-size: clamp(1.125rem, 2vw, 1.563rem); */
  /* font-weight: 300; */
  /* opacity: 0.9; */
  /* letter-spacing: 0.05em; */
  /* line-height: 2.813rem; */
  /* line-height: clamp(1.875rem, 3.5vw, 2.813rem); */
  font-size: 0.938rem;
    /* font-weight: 400; */
    /* line-height: 1.875rem; */
    line-height: 2.188rem;
  /* margin-bottom: 2.5em; */
}

.try-btn{
  /* margin: 0 auto; */
}

/* try section ends */

/* package section starts */

.package-section{
  /* padding: 3em; */
}

.package-wrap{
  /* display: grid; */
  grid-template-columns: 1fr;
  column-gap: 0;
  row-gap: 4em;
  justify-content: center;
  /* width: 100%; */
  /* border: 1px solid red; */
}

.package-sec{
  /* border: 1px solid var(--main-color); */
  /* border-radius: 20px; */
  padding: 3.5em 2em;
  /* display: flex; */
  /* flex-direction: column; */
  /* background-color: transparent; */
  margin: 0 auto;
  width: 20em;
}

.package-sec-violet{
  /* background-color: var(--main-color); */
  /* box-shadow: 0px 0px 3px var(--bg-color); */
  /* padding: 4em 2.3em; */
}

.package-sec-head{
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  gap: 1.2em;
  /* align-items: center; */
  /* justify-content: space-between; */
  margin-bottom: 2em;
}

.package-sec-heading{
  /* font-family: var(--secondary-font); */
  font-size: 2.188rem;
  /* color: var(--main-color); */
}

.package-sec-heading-violet{
  /* color: var(--secondary-color); */
}

.package-sec-type-section{
  width: 9.375em;
  height: 1.875em;
  /* background-color: var(--main-color); */
  /* border-radius: 1em; */
  /* display: grid; */
  /* place-items: center; */
}

.package-sec-type-section-violet{
  /* background-color: var(--secondary-color); */
}

.package-sec-type{
  font-size: 1.125em;
  /* font-family: var(--secondary-font); */
  /* font-weight: 300; */
  /* color: var(--secondary-color); */
}

.package-sec-type-violet{
  /* color: var(--main-color); */
  /* font-weight: 500; */
}

.package-sec-ul{
  /* display: flex; */
  /* flex-direction: column; */
  gap: 0.8em;
  margin-bottom: 0.8em;
  /* border: 1px solid red; */
}

.package-sec-li{
  /* display: flex; */
}

.package-sec-icon{
  margin-right: 1.3em;
  width: 0.938em;
  /* height: auto; */
}

.package-sec-feature{
  /* color: var(--main-color); */
  /* font-family: var(--secondary-font); */
  font-size: 1.125rem;
  /* font-weight: 500; */
  /* letter-spacing: 0.04rem; */
}

.package-sec-feature-violet{
  /* color: var(--secondary-color); */
}

.package-sec-price-section{
  /* display: flex; */
  /* color: var(--main-color); */
  /* font-family: var(--primary-font); */
  /* font-weight: 800; */
  /* align-items: flex-end; */
  /* margin-bottom: 2.2em; */
}

.package-sec-price-section span{
  font-size: 1.563rem;
  /* margin-right: 0.2em; */
}

.package-sec-price-section-violet span{
  /* color: var(--secondary-color); */
}

.package-sec-price{
  font-size: 2.813rem;
}

.package-sec-price-violet{
  /* color: var(--secondary-color); */
}

.package-sec-btn{
  /* width: 100%; */
  padding: 0.8em 1em;
  /* color: var(--main-color); */
  /* border: 1px solid var(--main-color); */
  /* border-radius: 20px; */
  font-size: 1.25rem;
  /* font-weight: 600; */
  /* background-color: transparent; */
}

.package-sec-btn-violet{
  /* border-color: var(--special-color); */
  /* background-color: var(--special-color); */
  /* color: var(--secondary-color); */
  /* box-shadow: 0px 0px 3px var(--special-color); */
}

/* package section ends */

/* newsletter section starts */

.newsletter-section{
  /* padding: 3em 0; */
}

.newsletter-wrap{
  /* background: rgba(60, 4, 102, 10%); */
  /* display: grid; */
  /* place-items: center; */
  padding: 4em 0;
}

.newsletter-heading{
  /* font-family: var(--primary-font); */
  /* color: var(--primary-color); */
  font-size: 1.25rem;
  /* font-weight: 100; */
  line-height: 2.813rem;
  /* text-transform: capitalize; */
  /* margin-bottom: 0.4em; */
}

.newsletter-subheading{
  width: 70%;
  text-align: center;
  /* margin: 0 auto; */
  /* font-family: var(--secondary-font); */
  /* color: var(--primary-color); */
  /* font-size: 1.563rem; */
  /* font-size: clamp(1.125rem, 2vw, 1.563rem); */
  /* font-weight: 400; */
  /* letter-spacing: 0.05em; */
  /* line-height: 2.813rem; */
  /* line-height: clamp(1.875rem, 3.5vw, 2.813rem); */
  font-size: 0.923rem;
    /* font-weight: 400; */
    /* line-height: 1.875rem; */
    line-height: 1.3rem;
  margin-bottom: 2em;
  /* border: 1px solid red; */
}

.newsletter-form{
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: auto;
  gap: 1em;
}

.newsletter-input{
  border-radius: 3em;
  /* height: 100%; */
  /* width: 100%; */
  /* background-color: var(--secondary-color); */
  /* border: 1px solid rgba(51, 51, 51, 0.3); */
  /* box-shadow: 1px 1px 20px rgba(51, 51, 51, 0.05); */
  /* font-family: var(--secondary-font); */
  /* font-size: 1rem; */
  /* padding-left: 1.5em; */
  height: 3.5em;
}

.newsletter-btn{
  /* height: 100%; */
  width: 50%;
  height: 3em;
  /* color: var(--secondary-color); */
  /* background-color: var(--main-color); */
  border-radius: 3em;
  /* font-family: var(--secondary-font); */
  font-size: 1.1rem;
}

/* newsletter section ends */

/* footer section starts */

.footer-section{
  /* background: var(--bg-color); */
  padding: 3em 0;
}

.footer-wrap{
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* justify-content: space-between; */
  gap: 4em;
}

.footer-logo-section{
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
}

.footer-logo{
  /* color: var(--secondary-color); */
  /* font-family: var(--logo-font); */
  /* font-size: 1.75rem; */
}

.footer-logo-detail{
  /* font-family: var(--primary-font); */
  /* color: var(--secondary-color); */
  /* font-size: 1.25rem; */
  /* text-transform: capitalize; */
}

.footer-ul{
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  width: 100%;
  column-gap: 0;
  row-gap: 0.5em;
}

.footer-li{
  /* cursor: pointer; */
  text-align: center;
}

.footer-a{
  /* color: var(--secondary-color); */
  /* font-family: var(--secondary-font); */
  /* font-size: 0.75rem; */
  /* font-weight: 0.04rem; */
}

/* footer section ends */

/* .footer-bottom-section starts */

.footer-bottom-section{
  /* background-color: var(--primary-color); */
}

.footer-bottom-wrap{
  /* padding: 0.5em 0; */
}

.footer-bottom-p{
  /* color: var(--secondary-color); */
  /* font-family: var(--secondary-font); */
  /* text-align: center; */
  /* letter-spacing: 0.04rem; */
  /* font-size: 0.75rem; */
}

/* .footer-bottom-section ends */


}
