@media screen and (max-width: 768px) {
  /* general settings starts */

  /* variables start*/
  :root {
  }

  .wrap {
    width: 88%;
  }

  .btn-outline {
    font-size: 1.125rem;
    padding: 0.8em 2.3em;
  }

  /* general settings ends */

  /* navigation section starts */

  .nav-hr {
    background-color: transparent;
    border-bottom: 1px solid var(--secondary-color);
    display: inline;
    width: 70%;
    height: 100%;
    opacity: 0.8;
  }

  .nav-ul {
    display: flex;
  }

  .nav-li {
    margin-left: 2.5em;
  }

  .nav-a {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-weight: 200;
  }
  */ .nav-section {
    z-index: 10;
  }

  nav {
    position: absolute;
    width: auto;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: var(--primary-color);
    display: flex;
    align-items: flex-start;
    padding: 8em 2em 0 2em;
    box-shadow: 3px 3px 5px rgba(51, 51, 51, 0.3);
    transform: translateX(100%);
    transition: 0.3s transform;
  }

  nav.active {
    transform: translateX(0);
  }

  .nav-ul {
    flex-direction: column;
    gap: 1.5em;
  }

  .nav-li {
    margin-left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 0.6em;
  }

  .nav-a {
    font-size: 1.3rem;
  }

  .nav-toggle-section {
    display: block;
    z-index: 15;
    cursor: pointer;
    width: 2.2em;
    height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .nav-toggle1,
  .nav-toggle2,
  .nav-toggle3 {
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    border-radius: 1em;
    transition: 0.3s transform;
  }

  .nav-toggle1 {
    width: 60%;
    align-self: flex-start;
  }

  .nav-toggle1.active {
    width: 50%;
    transform: translateY(0.20em) rotate(45deg);
  }

  .nav-toggle2.active {
    transform: rotate(-45deg);
  }

  .nav-toggle3 {
    width: 60%;
    align-self: flex-end;
  }

  .nav-toggle3.active {
    width: 50%;
    transform: translateY(-0.20em) rotate(45deg);
  }

  /* navigation section ends */

  /* hero section starts */

  .hero-section {
    height: min(100vh, 768px);
  }

  .hero-wrap {
    justify-content: center;
    text-align: center;
  }

  .hero-title {
    font-size: 0.75rem;
    margin-bottom: 0.5em;
  }

  .hero-heading {
    font-size: clamp(1.875rem, 5.8vw, 2.813rem);
    line-height: clamp(2.5rem, 8vw, 3.75rem);
    margin-bottom: 1em;
  }

  .hero-btn {
    margin: 0 auto;
  }

  /* hero section ends */

  /* problem section starts */

  .problem-section {
    padding: 5em 0;
  }

  .problem-heading {
    font-size: clamp(1.25rem, 4vw, 1.813rem);
    line-height: 2.813rem;
    margin-bottom: 1.5em;
  }

  .problem-feature-name {
    font-size: clamp(0.938rem, 2vw, 1.125rem);
    line-height: clamp(2.188rem, 1vw 1.875rem);
  }

  .problem-feature-number::before {
    font-size: clamp(0.938rem, 2vw, 1.125rem);
  }

  .problem-img-section {
    padding-left: 2em;
  }

  .problem-img {
    height: 16em;
  }

  /* problem section ends */

  /* process section starts */

  .process-section {
    padding: 3em 0;
  }

  .process-head-container {
    grid-template-columns: 50% 50%;
    margin-bottom: 4em;
  }

  .process-heading {
    font-size: clamp(1.25rem, 4vw, 1.813rem);
    line-height: 2.813rem;
    width: 95%;
  }

  .process-subheading {
    font-size: clamp(0.938rem, 2vw, 1.125rem);
    line-height: clamp(2.188rem, 1vw 1.875rem);
  }

  .process-section-container {
    column-gap: 1.5em;
  }

  .process-sec {
    padding: 3em 1em;
  }

  .process-icon-section {
    width: 3em;
    height: 3em;
    margin-bottom: 1em;
  }

  .process-icon-section img {
    width: 1.5em;
  }

  .process-sec-heading {
    font-size: 1rem;
    margin-bottom: 1em;
  }

  .process-sec-p {
    font-size: 0.75rem;
    line-height: 1.45rem;
  }

  /* process section ends */

  /* try section starts */

  .try-heading {
    font-size: clamp(1.25rem, 4vw, 1.813rem);
    line-height: 2.813rem;
  }

  .try-subheading {
    width: 60%;
    font-size: clamp(0.938rem, 2vw, 1.125rem);
    line-height: clamp(2.188rem, 1vw 1.875rem);
  }

  /* try section ends */

  /* package section starts */

  .package-section {
    padding: 3em;
  }

  .package-wrap {
    column-gap: 0.5em;
    width: 100%;
  }

  .package-sec {
    padding: 2.3em 1em;
  }

  .package-sec-head {
    margin-bottom: 2em;
  }

  .package-sec-heading {
    font-size: 1.75rem;
  }

  .package-sec-type-section {
    width: 6.28em;
    height: 1.375em;
  }

  .package-sec-type {
    font-size: 0.75rem;
  }

  .package-sec-ul {
    gap: 0.8em;
    margin-bottom: 0.8em;
  }

  .package-sec-icon {
    margin-right: 0.8em;
    width: 0.625em;
  }

  .package-sec-feature {
    font-size: 0.938rem;
  }

  .package-sec-price-section span {
    font-size: 1.25rem;
  }

  .package-sec-price {
    font-size: 2.188rem;
  }

  .package-sec-btn {
    padding: 0.3em 1em;
    font-size: 1.125rem;
  }

  /* package section ends */

  /* newsletter section starts */

  .newsletter-wrap {
    padding: 5em 0;
  }

  .newsletter-heading {
    font-size: clamp(1.25rem, 4vw, 1.813rem);
    line-height: 2.813rem;
  }

  .newsletter-subheading {
    font-size: clamp(0.938rem, 2vw, 1.125rem);
    line-height: clamp(2.188rem, 1vw 1.875rem);
  }

  .newsletter-form {
    width: 70%;
    height: 3em;
  }

  .newsletter-input {
    font-size: 1rem;
    padding-left: 1.5em;
  }

  .newsletter-btn {
    width: 40%;
    font-size: 1.1rem;
  }

  /* newsletter section ends */

  /* form section starts */

  .form-wrap {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .form-form {
    width: 50%;
    margin: 0 auto;
    gap: 1.5em;
    padding: 3em 2em;
  }

  .form-form-sec {
    height: 2.5em;
  }

  .form-form-input {
    font-size: 0.9rem;
    padding: 0.8em;
  }

  .form-form-label {
    left: 0.6rem;
    font-size: 0.9rem;
  }

  .form-form-btn {
    font-size: 1.125rem;
  }

  .form-form-input:focus + .form-form-label,
  .form-form-input:not(:placeholder-shown).form-form-input:not(:focus)
    + .form-form-label {
    font-size: 0.5rem;
  }

  .form-details {
    order: -1;
    align-items: center;
    padding-left: 0;
    text-align: center;
  }

  .form-details-heading {
    width: 80%;
    font-size: clamp(1.25rem, 4vw, 1.813rem);
    line-height: 2.813rem;
  }

  .form-details-subheading {
    font-size: clamp(0.938rem, 2vw, 1.125rem);
    line-height: clamp(2.188rem, 1vw 1.875rem);
  }

  /* form section ends */

  /* footer section starts */

  .footer-section {
    padding: 3em 0;
  }

  .footer-logo {
    font-size: 1.75rem;
  }

  .footer-logo-detail {
    font-size: 1.25rem;
  }

  .footer-ul {
    column-gap: 1em;
    row-gap: 0.5em;
  }

  .footer-a {
    font-size: 0.75rem;
  }

  /* footer section ends */

  /* footer-bottom-section starts */

  .footer-bottom-p {
    font-size: 0.75rem;
  }

  /* footer-bottom-section ends */
}
