@media screen and (max-width: 500px) {
  /* general settings starts */

  /* variables start*/
  :root {
  }

  .wrap {
    width: 90%;
  }

  .btn-outline {
    font-size: 1.125rem;
  }

  /* general settings ends */

  /* hero section starts */

  .hero-section {
    height: 65vh;
  }

  .hero-wrap {
    padding-top: 4em;
  }

  .hero-title {
    margin-bottom: 1.2em;
  }

  .hero-heading {
    font-size: 1.875rem;
    line-height: 2.5rem;
    margin-bottom: 2em;
  }

  /* hero section ends */

  /* problem section starts */

  .problem-section {
    padding: 5em 0;
  }

  .problem-heading {
    font-size: 1.25rem;
    line-height: 2.813rem;
    margin-bottom: 1.5em;
  }

  .problem-container {
    grid-template-columns: 1fr;
    row-gap: 3em;
    justify-content: center;
  }

  .problem-feature {
    margin: 0 auto;
  }

  .problem-feature-name {
    font-size: 0.938rem;
  }

  .problem-feature-number::before {
    font-size: 0.938rem;
  }

  .problem-img-section {
    padding-left: 0;
    width: 90%;
    margin: 0 auto;
  }

  .problem-img {
    border-radius: 1em;
    height: 16em;
    width: 100%;
  }

  /* problem section ends */

  /* process section starts */

  .process-head-container {
    grid-template-columns: 1fr;
    margin-bottom: 5em;
  }

  .process-heading {
    font-size: 1.25rem;
    line-height: 2.813rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1em;
  }

  .process-subheading {
    font-size: 0.938rem;
    line-height: 2.188rem;
    text-align: center;
    margin: 0 auto;
  }

  .process-section-container {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 2.5em;
  }

  .process-sec {
    padding: 3em 1em;
    width: 13em;
    margin: 0 auto;
  }

  .process-icon-section {
    width: 3em;
    height: 3em;
    margin-bottom: 1em;
  }

  .process-icon-section img {
    width: 1.5em;
  }

  .process-sec-heading {
    font-size: 1rem;
    margin-bottom: 1em;
  }

  .process-sec-p {
    font-size: 0.75rem;
    line-height: 1.45rem;
  }

  /* process section ends */

  /* try section starts */

  .try-heading {
    font-size: 1.25rem;
    line-height: 2.813rem;
  }

  .try-subheading {
    width: 100%;
    font-size: 0.938rem;
    line-height: 2.188rem;
  }

  /* try section ends */

  /* package section starts */

  .package-wrap {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 4em;
    justify-content: center;
  }

  .package-sec {
    padding: 3.5em 2em;
    margin: 0 auto;
    width: 20em;
  }

  .package-sec-head {
    flex-direction: column;
    justify-content: center;
    gap: 1.2em;
    margin-bottom: 2em;
  }

  .package-sec-heading {
    font-size: 2.188rem;
  }

  .package-sec-type-section {
    width: 9.375em;
    height: 1.875em;
  }

  .package-sec-type {
    font-size: 1.125em;
  }

  .package-sec-ul {
    gap: 0.8em;
    margin-bottom: 0.8em;
  }

  .package-sec-icon {
    margin-right: 1.3em;
    width: 0.938em;
  }

  .package-sec-feature {
    font-size: 1.125rem;
  }

  .package-sec-price-section span {
    font-size: 1.563rem;
  }

  .package-sec-price {
    font-size: 2.813rem;
  }

  .package-sec-btn {
    padding: 0.8em 1em;
    font-size: 1.25rem;
  }

  /* package section ends */

  /* newsletter section starts */

  .newsletter-wrap {
    padding: 4em 0;
  }

  .newsletter-heading {
    font-size: 1.25rem;
    line-height: 2.813rem;
  }

  .newsletter-subheading {
    width: 70%;
    text-align: center;
    font-size: 0.923rem;
    line-height: 1.3rem;
    margin-bottom: 2em;
  }

  .newsletter-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    gap: 1em;
  }

  .newsletter-input {
    border-radius: 3em;
    height: 3.5em;
  }

  .newsletter-btn {
    width: 50%;
    height: 3em;
    border-radius: 3em;
    font-size: 1.1rem;
  }

  /* newsletter section ends */

  /* form section starts */

  .form-wrap {
    gap: 3em;
  }

  .form-form {
    width: 90%;
    gap: 1.3em;
    padding: 3em 1em;
  }

  .form-form-sec {
    height: 3em;
  }

  .form-details {
    order: -1;
    align-items: center;
    padding-left: 0;
    text-align: center;
  }

  .form-details-heading {
    width: 80%;
    font-size: clamp(1.25rem, 4vw, 1.813rem);
    line-height: 2.813rem;
  }

  .form-details-subheading {
    font-size: clamp(0.938rem, 2vw, 1.125rem);
    line-height: clamp(2.188rem, 1vw 1.875rem);
  }

  /* form section ends */

  /* footer section starts */

  .footer-section {
    padding: 3em 0;
  }

  .footer-wrap {
    flex-direction: column;
    justify-content: center;
    gap: 4em;
  }

  .footer-logo-section {
    text-align: center;
  }

  .footer-ul {
    width: 100%;
    column-gap: 0;
    row-gap: 0.5em;
  }

  .footer-li {
    text-align: center;
  }

  /* footer section ends */
}
